*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  padding: 8px 40px;
  background-color: rgb(65, 11, 165);
  color: white;
  display: flex;
  justify-content: space-between; 
}
ul{
  display: flex;
  gap: 10px;
  
}
ul li{
  list-style-type: none;
}
ul li a{
  color: white;
  text-decoration: none;
}